@media screen and (max-width: 1200px){
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display:flex;
    }
  @media (max-width: 768px) {
  .profile-container {
    flex-direction: column;
    gap: 2rem;
  }

  .section__text {
    text-align: center;
  }
}
}